[submodule "public/themes/PurpleMine2"]
	path = public/themes/PurpleMine2
	url = git@github.com:mrliptontea/PurpleMine2.git
[submodule "plugins/redmine_absolute_dates"]
	path = plugins/redmine_absolute_dates
	url = git@github.com:suer/redmine_absolute_dates.git
[submodule "plugins/redmine_issue_templates"]
	path = plugins/redmine_issue_templates
	url = git@github.com:akiko-pusu/redmine_issue_templates.git
[submodule "plugins/redmine_issues_tree"]
	path = plugins/redmine_issues_tree
	url = git@github.com:Loriowar/redmine_issues_tree.git
[submodule "plugins/redmine_local_avatars"]
	path = plugins/redmine_local_avatars
	url = git@github.com:ncoders/redmine_local_avatars.git
[submodule "plugins/redmine_slack"]
	path = plugins/redmine_slack
	url = git@github.com:sciyoshi/redmine-slack.git
